/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    overflow: scroll;
    background-color: rgba(243, 239, 239, 0.492);
    scroll-behavior: smooth;

}
/* Header styling */
header {
    color: rgb(14, 13, 13);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    font-family: 'Playfair Display', serif;
    display: flex;
    position: sticky;
    align-items: center;
    padding: 20px 40px;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


/* Website title */
header h1 {
    font-size: 23px;
    font-weight: bold;
    padding-left: 8px;
}

header h3{
    font-size: 15px;
}

/* Navigation menu */
nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: baseline;
    padding-right: 120px;
}

nav a {
    color: rgb(19, 19, 19);
    font-size: 16px;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
    text-decoration: underline;
}
nav a:active{
    color: gray;
}
.Home {
    max-width: fit-content;
    max-height: fit-content;
}

.Home:active{
    
}
.Profile-container {
    position: relative;
    padding-left: 70px;
    padding-bottom: 0%;
    width: 200px;
    height: 200px;
    margin-top: 50px;
}
.shape {
    display: flex;
    position: absolute;
    width:  700px;
    height: 700px;
    background: #cbadbe;  /* pastel aesthetic */
    border-radius: 50%;   /* circle shape */
    z-index: 1;           /* behind profile picture */
    transform: rotate(-15deg); /* optional tilt for aesthetic look */
}

.Profile-container .Image{
    height: 750px;
    position: relative;
    z-index: 2;
    padding-left: 50px;

}
